#container {
  width:450px;
  position:relative;
  margin:0 auto;
}

#start {
  position:absolute;
  top:193px;
  left:185px;
  font-size:40px;
  color:#FFFFFF;
  width:80px;
  text-align:center;
  
}

#simon {
    position: relative;
}
#simon #first{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 224.99999999999997px solid #222222;
    border-radius: 224.99999999999997px;
    left: 0px;
    top: 0px;
}

/*#1aff00*/
#simon .caja-verde {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 182.14285714285714px solid;
    border-color:#0b5d02;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 182.14285714285714px;
    left: 32.14285714285714px;
    top: 32.14285714285714px;
}
/*#ff0b00*/
#simon .caja-roja {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 182.14285714285714px solid;
    border-color: #610a06;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 182.14285714285714px;
    left: 235.7142857142857px;
    top: 32.14285714285714px;
}
/*#ffec00*/
#simon .caja-amarilla {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 182.14285714285714px solid;
    border-color:#928705;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 182.14285714285714px;
    left: 32.14285714285714px;
    top: 235.7142857142857px;
}
/*#29abd0*/
#simon .caja-azul {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 182.14285714285714px solid;
    border-color:#145467;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 182.14285714285714px;
    left: 235.7142857142857px;
    top: 235.7142857142857px;
}
#simon #sixth {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 53.57142857142857px solid #222222;
    border-radius: 53.57142857142857px;
    left: 171.42857142857142px;
    top: 171.42857142857142px;
}
